<h3> Your Carts </h3>
<p>
  <% current_user.carts.each do |f|%> <br>
  <%= label :cart, :service_name %> <%= f.service_name%><br>
  <%= label :cart, :owner_name %> <%= f.owner_name %><br>
  <%= link_to 'Show service destails', service_path(f.service_id) %><br><br>
  <%= link_to 'Delete cart', delete_cart_page_path(f.id) %><br>
<% end %>
<br>
<br>
  <%= link_to 'Back', root_url %>
</p>
